.estadisticas-container {
  display: grid;
  grid-template-rows: 10% 1fr;
  margin-top: 30px;
  height: 90%;
  padding: 20px 30px 20px 30px;
}
.estadisticas-container .estadisticas-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  gap: 10px;
}

.estadisticas-container .grafico-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  height: 90%;
  padding: 10px;
}

.estadisticas-container .grafico-container .barChart{
  border: 1px solid #d9d9d9;
  padding: 10px;
  border-radius: 6px;
  height: 100%;
  width: 80%;

}
